.header-util > div {
    background-color: #079CEE;
    color: var(--black-color);
    font-size: 14px;
}

.header-util a {
    text-decoration: none;
    color: var(--black-color);
}
.menu li a{
    color: #000;
}
.menu li a:hover{
    color: #079CEE;
}
.menu #en-cours{
    color: #079CEE;
}
.navbar{
       border: none;
    background: transparent;
}

.btn-custom, .btn-custom:hover {
    background-color: #079cEE;
    color: #FFF;
    border-radius: 29px;
}

.btn-custom:hover {
    background-color: #0A2540;
}
a {
    text-decoration: none !important; 
    cursor: pointer;
    background-color: transparent;
}
.lien a:hover{
    color:#fff;
}

.info a:hover{
    color: #000;
}
.info a{
    color: #fff;
}
.bg-custon{
background-position: center center;
background-size: cover;
background-repeat: no-repeat; 
}
.btn-custom.type-2, .btn-custom.type-3 {
    width: 16%;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-custom.type-3 {
    background-color: transparent;
    border: 2px solid #079CEE;
    color: #079CEE;
}

.btn-custom.type-3:hover {
    background-color: #0A2541;
    color: #FFF;
    border: none;
}
.btn-custom.type-2 {
    background-color: #079CEE;
    border-radius: 30px;
    /*border: 2px solid #079CEE;*/
    color: #FFF;
}

.btn-custom.type-2:hover {
    background-color: #0A2541;
    color: #FFF;
}
.bouton{
    margin-top: 20px;
}
 .bg-custon.inclinaison-svg{
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
}
.inclinaison-path{
    fill: #fff;
}
.section-network-map-instructions-hand {
    animation: rotatehand 2s;
    animation-iteration-count: infinite;
    display: inline-block;
    height: 40px;
    margin-bottom: 10px;
    margin-top: -65%;
    width: 40px;
    text-align: center;
}
.section-network-map-instructions-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: -30%;
}
.nombre{
    font-size: 80px;
    line-height: 80px;
    color: #079cee;
    font-weight: 900;
}
.nombre1{
    color: #00bf8c;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
}
.nombre2{
    color: #9a59c5;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
}
.mot{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.custon-section{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-top-wave-svg {
    height: 50px;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    display: block;
}
.section-bottom-wave-svg {
    height: 50px;
    margin-top: 15px;
    position: relative;
    width: 100%;
    display: block;
}
.section-dotted-list-icon {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    display: block;
    height: 30px;
    left: 2px;
    padding: 6px;
    position: absolute;
    top: 6px;
    width: 30px;
    fill: #079CEE;
}
.sectioncustom{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.visit{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    padding: 30px;
    position: relative;
    width:100%;
    box-sizing: border-box;
    float: left;
    margin: 15px;

}
.visit a{
    color: #000;
    text-decoration: none;
}
.visit a:hover{
    color: #079CEE;
}
.desc a{
    color: #000;
    text-decoration: none;
}
.desc a:hover{
    color: #079CEE;
}
.capterra{
    border-left: 1px solid #acddf7; 
    border-right: 1px solid #acddf7;
     border-bottom: none;
     border-top: none;
      margin-left: 50%;
       margin-right: 30%;
       margin-top: 20%;
       width: 50%;
    border-bottom: none;
    border-top: none;
    padding-top: 25%;
}
.section-social{
    display: block;
    padding: 150px;
    background: #079cee;
    border-radius: 30px;
    background-image:url(images/background.svg) no-repeat left bottom ;
    width: 105%;
    text-align: center;
}
.texte{
    background-color: rgba(255,255,255,.1);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 55%;
    box-sizing: border-box;
    float: right;
    margin-right: -10%;
    margin-top: -5%;
}
.section-image{
    padding: 0 20px;
    border-right: 1px solid #b5e1f8;
    box-sizing: border-box;
    float: left;
    text-align: center;
    width: 20%;
    /*display: flex;*/
}
.call-to-action-dots {
    margin-bottom: 30px;
    fill: #079CEE;
    margin-left: 18%;
}
footer.home-page-footer {
    top: 0;
    background: #0A2540;
}
.footer {
    position: relative;
    z-index: 2;
    display: block;
}
.footer.home-page-footer .footer-wave-svg {
    margin-top: 0;
}
.footer-wave-svg {
    height: 50px;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer.home-page-footer .footer-wave-svg path {
    fill: #F3FAFE;
}
.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 80px 15px;
    position: relative;
}
.footer-logo-link {
    display: inline-block;
}
.footer .footer-logo-svg {
    width: auto;
    padding: 0 15px;
}
.footer-logo-svg {
    display: block;
    height: auto;
}
.footer-logo-path {
    fill: #079CEE;
}
.footer-social-links {
    top: 20px;
    height: 54px;
    position: absolute;
    right: 88px;
    width: 236px;
}
.footer-social-link.linkedin {
    height: 75px;
    left: 3px;
    top: 8px;
    width: 75px;
}
.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}
.footer-social-icon-svg.linkedin {
    height: 30px;
    width: 30px;
}
.footer-social-icon-svg {
    display: block;
}
.footer-social-icon-path {
    fill: #fff;
    transition: fill 0.2s;
}
.footer-social-link.twitter {
    height: 75px;
    left: 62px;
    top: 11px;
    width: 75px;
}

.footer-social-icon-svg.twitter {
    height: 25px;
    width: 25px;
}
.footer-social-link.youtube {
    height: 75px;
    left: 123px;
    top: 12px;
    width: 75px;
}
.footer-social-icon-svg.youtube {
    height: 28px;
    width: 28px;
}
.footer-social-link.github {
    height: 75px;
    left: 180px;
    top: 7px;
    width: 75px;
}
.footer-content-column {
    width: 24.99%;
}
.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.footer-menu {
    margin-top: 30px;
}
.footer-menu-name {
    color: #079CEE;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}
.footer-menu-list a {
    padding: 0;
    display: inline;
    color: #fff;
    text-decoration: none;
}
.footer-menu-list li {
    margin-top: 5px;
}
.footer-call-to-action-description {
    color: #fff;
    margin-top: 10px;
}
p {
    margin-bottom: 20px;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    margin-top: 0;
}
.button {
    background-color: #079CEE;
    border-radius: 21px;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #079CEE;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
}
.footer-copyright {
    background-color: #0d2138;
    padding: 15px 30px;
    width: 100%;
}
.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.footer-copyright-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    
}
.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}
.lp-footer {
    padding: 50px 150px;
    max-width: 1260px;
    margin: 0 auto;
    display: none;
}
.lp-footer .lp-logo-num {
    display: flex;
    justify-content: space-between;
}
.footer-logo-link {
    display: inline-block;
}
.lp-footer .lp-logo-num .footer-logo .footer-logo-link .footer-logo-svg {
    padding: 0;
}
.lp-footer .lp-logo-num .lp-num {
    margin-top: 5px;
}
.lp-footer .lp-copyright {
    margin-top: 15px;
}
h3.widget_title {
    display: none;
}
h3 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 30px;
}
.sticky-cta-dismissed {
    display: none!important;
}
.sticky-cta-toggle {
    width: 40px;
    height: 100%;
    color: #fff;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    left: 0;
}
.sticky-cta-toggle-text {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: rotate(90deg);
    transform-origin: center;
}
.sticky-cta-toggle {
    color: #fff;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    cursor: pointer;
    text-transform: uppercase;
  
}